h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
}

header {
  background: #eee;
  color: #999;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

header a.btn-page {
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

header .btn-page.active {
  background: #fff;
  color: #444;
  font-weight: 400;
}

header h1.logo {
  background: url('../img/logo-only.png') no-repeat center center;
  height: 90%;
  margin: 0;
  padding-left: 10px;
  padding: 0;
  padding: 10px 0;
  text-indent: -9999px;
  width: auto;
}

section.alert-danger {
  background: #e74c3c;
  border: 0;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

@media (min-width: 460px) {
  header a.btn-page {
    padding: 20px 0;
  }
}

.content h2 {
  margin-bottom: 30px;
}

form .btn-submit {
  background: #5b89c4;
  margin-top: 50px;
}

form .form-control {
  border: 1px solid #eee;
  border-radius: 0;
}

form .btn-add-product {
  display: inline-block;
  margin: 10px 0;
}

form sup {
  color: #e00;
}

form .btn {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
}