{% macro main(meta) %}
  <header id="top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="logo">Lerato's Hope Food Ingestor</h1>
        </div>
        <div class="col-xs-4">
          <a href="/" class="btn-page {{ meta.header.food ? 'active' }}">Food Count</a>
        </div>
        <div class="col-xs-4">
          <a href="/submissions" class="btn-page {{ meta.header.submissions ? 'active' }}">Count Tally</a>
        </div>
      </div>
    </div>
  </header>

  {% if meta.message %}
    <section class="alert alert-{{ meta.message.mood }}">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {{ meta.message.text }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endmacro %}