{% extends "base.html" %}
{% import "partials/header.html" as header %}
{% import "forms/forms.html" as forms %}

{% block title %}Lerato's Hope - Food Counter{% endblock %}

{%block body%}
  {{ header.main(meta) }}
  
  <div class="container">
    <div id="main" class="content" rel="main">
      {{ forms.food_count(data) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ meta.url }}js/main.js"></script>
{% endblock %}