{% extends "base.html" %}
{% import "partials/header.html" as header %}

{% block title %}Lerato's Hope - Submissions{% endblock %}

{%block body%}
  {{ header.main(meta) }}
  
  <div class="container">
    <div id="main" class="content" rel="main">
      <div class="row">
        <div class="col-xs-12">
          <form>
            <h2>Submissions</h2>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Product</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% if not items %}
                  <tr>
                    <td colspan="3">No submissions yet.</td>
                  </tr>
                {% endif %}
                {% for item in items %}
                  <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.product }}</td>
                    <td>{{ item.quantity }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}