{% extends "base.html" %}
{% import "partials/header.html" as header %}

{% block title %}Lerato's Hope - Food Counted{% endblock %}

{%block body%}
  {{ header.main(meta) }}
  
  <div class="container">
    <div id="main" class="content" rel="main">
      <div class="row">
        <div class="col-xs-12">
          <form>
            <h2>Thanks for successfully counting this item</h2>

            <p>Do you want to count another item?</p>
            <a href="/" class="btn btn-success btn-lg btn-block">Count it now!</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}