{% macro food_count(data) %}
  <div class="row">
    <div class="col-xs-12">
      <h2>Food Count</h2>
    </div>
  
    <form action="/submit" method="POST">
      <div class="form-group {{ data.fields.date.fail ? 'has-error' }} col-xs-12">
        <label for="date">Date of Count <sup>*</sup></label>
        <input name="date" id="date" type="date" class="form-control input-lg" value="{{ data.fields.date.value }}" required>
      </div>
      
      <div class="form-group {{ data.fields.products.fail ? 'has-error' }} col-xs-12 existing-product">
        <label for="product">Choose an Item <sup>*</sup></label>
        <select name="product" id="product" type="select" class="form-control input-lg" placeholder="Select product">
          <option value=""></option>

          {% for product in data.fields.products.values %}
            <option>{{ product }}</option>
          {% endfor %}
        </select>
        <span class="help-block {{ not data.fields.products.fail ? 'hide' }}">Please enter an item in order to continue</span>
        
        <center><a href="#" class="btn-add-product">Item not in list? Add it now!</a><input name="custom_product" id="custom_product" type="checkbox" class="hide" {{ data.fields.custom_product.checked ? 'checked' }}></center>
      </div>

      <div class="form-group col-xs-12 new-product hide">
        <label for="new_product">New Item <sup>*</sup></label>
        <input name="new_product" id="new_product" type="text" class="form-control input-lg" placeholder="Product name and volume" value="{{ data.fields.new_product.value }}">
        <span class="help-block">E.g. "Oil 750ml" or "Rice 2kg"</span>
      </div>
      
      <div class="form-group col-xs-12">
        <label for="quantity">Quanity <sup>*</sup></label>
        <input name="quantity" id="quantity" type="number" step="1" min="0" class="form-control input-lg" value="{{ data.fields.quantity.value }}" required>
      </div>

      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-submit btn-primary btn-lg btn-block">Submit</button>
        <span class="help-block"><sup>*</sup><small> = Required</small></span>
      </div>
    </form>
  </div>
{% endmacro %}