<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,300' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
  {%endblock %}
</head>
<body>
  {% block body %}{%endblock %}

  {% block scripts %}{%endblock %}
</body>
</html>